<h2>User Profile</h2>

<%= render 'profile' %>

<%= link_to 'Edit', users_profile_edit_path %>|
<%= link_to 'Change Password', edit_user_registration_path %>|
<%= link_to 'All Posts', allpost_path%> |
<%= link_to 'Favorite Posts', favorite_post_show_path %>