<div class="col-xs-8 col-md-offset-2">
<h2 class="titleFont">User Profile</h2>
<%= render 'profile' %>

<%= link_to 'Edit', users_profile_edit_path, :class=>"btn btn-primary"%> 
<%= link_to 'Change Password', edit_user_registration_path, :class=>"btn btn-primary" %> 
<%= link_to 'All Posts', allpost_path, :class=>"btn btn-primary"%> 
<%= link_to 'Favorite Posts', favorite_post_show_path, :class=>"btn btn-primary" %>
</div>
