<% content_for :title, "Hungry Foodies" %>
<div id="myCarousel" class="carousel slide textFont">
      <div class="carousel-inner">
        <div class="item active">
          <%= image_tag "1.jpg" %>
          <div class="container">
            <div class="carousel-caption">
              <h1 class="titleFont">Enjoy Free Food Here!</h1>
              <p class="lead">Find free food information from Others!</p>
              <% if !user_signed_in? %>
              <%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-lg btn-primary'  %> 
              <%= link_to "Login", new_user_session_path, :class => 'btn btn-lg btn-success'  %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag "5.jpg" %>
          <div class="container">
            <div class="carousel-caption">
              <h1 class="titleFont">Help Others Find Free Food!</h1>
              <p class="lead">COME ON! Post free food near you! Let's save and enjoy.</p>
              <%= link_to "New Post", new_post_path, :class => 'btn btn-lg btn-primary'  %>
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag "4.jpg" %>
          <div class="container">
            <div class="carousel-caption">
              <h1 class="titleFont">Find Hot Free Food Here!</h1>
              <p class="lead">Hope you find what you love:)</p>
              <%= link_to 'Hot Posts', '/hot', :class => 'btn btn-lg btn-primary' %>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->

<div class="container marketing">
<% @posts.in_groups_of(3).each do |posts| %>
<% posts.select! {|x| !x.nil?} %>
<div class="row">
      <% posts.each do |post| %>
      <% cache(post) do %>
      <div class="col-xs-4">
        <div class="postImagediv">
          <% imgId = "img"+post.id.to_s %>
          <% callfunction = 'resizeImg("'+imgId+'", 300)'%>
          <%= if post.pictures.empty?
                  link_to image_tag("default.png", class:
          'postImage',id:imgId, onload:callfunction), post
              else
                  link_to image_tag(post.pictures.first.image.url,
          class: 'postImage',id:imgId, onload: callfunction), post
              end %>
          </div>
          <h2 class="titleFont"><%= post.title%></h2>
          <p class="scrollText"><%= post.content%></p>
          <p><%= link_to "View details", post %></p>
        </div><!-- /.span4 -->
        <% end %>
        <%end%>
      </div><!-- /.row -->
    <%end%>
    </div>
