<h1>Related Posts</h1>
<% if @posts.count > 0 %>
  

  <table class="table table-hover">
  <thead>
    <tr>
      <th>User</th>
      <th>Title</th>
      <th>Datetime</th>
      <th>Post Image</th>
      <th>Downvote number</th>
      <th>Upvote number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.user_id %></td>
        <td><%= link_to post.title, post %></td>
        <td><%= post.datetime %></td>
        <td><%= image_tag post.post_image.url(:thumb) %></td>
        <td id = "<%= post.id %> downvote"><%= post.downvote_number %></td>
        <td id = "<%= post.id %> upvote"><%= post.upvote_number %></td>
        <td> <%= button_to edit_post_path(post), :params=>{up: true},
        :method => :get, :remote=> true, :class=>"btn btn-default" do%><span class="glyphicon glyphicon-thumbs-up"></span><%end%></td>
        <td> <%= button_to edit_post_path(post), :params=>{up: false},
        :method => :get, :remote=> true, :class=>"btn btn-default" do
        %><span class="glyphicon glyphicon-thumbs-down"></span><%end%></td>
        <td><%= link_to post,
	                            :method=>:delete, :data => { :confirm =>
          'Are you sure?' }  do %> <span class="glyphicon glyphicon-remove"></span><%end%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<nav>
  <ul class="pager">
    <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
    <li class="next"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
  </ul>
</nav>

<% else %>
  <p>This tag is not associated with any posts.</p>
  <% end %>


