<table class="table table-hover">
    <% @posts.each do |post| %>
    <tr>
      <td rowspan="3" class="postTableLeft">
          <div class="row">
              <%= if post.pictures.empty?
                    image_tag "default.png", :class => "imgLg"
                  else
                    link_to image_tag(post.pictures.first.image.url, :class=>"imgLg"), post
                  end %>
          </div>
      </td>
      <td colspan="2" class="titleField">
        <h4><%= link_to post.title, post %></h4>
      </td>
      <td>
        <%=post.datetime.to_formatted_s(:short) %>
        </td>
        <td>
        <% if current_user and current_user.id == post.user_id %>
        <div class="deleteBtn">
        <%= link_to post,
                                :method=>:delete, :data => { :confirm => 'Are you sure?' }  do %> <span class="glyphicon
                                        glyphicon-remove"></span><%end%></div>
        <% end %>
      </td>
    </tr>
    <tr class="postContent">
      <td colspan="4">
          <%=post.content%>
      </td>
    </tr>
    <tr>
      <td>
        <%= button_to '/votepost/up/' + post.id.to_s, 
        :method => :get, :remote=> true, :class=>"btn btn-default
        btn-noborder" do%><span class="glyphicon
        glyphicon-thumbs-up"></span> (<span id = "<%= post.id %> upvote"><%= post.upvote_number %></span>)<%end%>
      </td>
      <td>
           <%= button_to '/votepost/down/' + post.id.to_s, 
        :method => :get, :remote=> true, :class=>"btn btn-default btn-noborder" do %><span class="glyphicon glyphicon-thumbs-down"></span>
        (<span id = "<%= post.id %> downvote"><%= post.downvote_number%></span>)<%end%>
      </td>
      <td>
        <%= button_to '/favorite/' + post.id.to_s, :method => :get,
        :remote=>true, :class => "btn btn-default
        btn-noborder" do %>
                <% if current_user and current_user.favorites.exists?(:id => post.id)%>
                <span id="<%=post.id %>star" class="glyphicon glyphicon-star"></span>
                <% else %>
                 <span id="<%=post.id %>star" class="glyphicon glyphicon-star-empty"></span>
                 <% end %>
                
            (<span id = "<%=post.id %>favorite"><%= post.favorited_by.count %></span>)
        <%end%>
      </td>
      <td>
        <%= button_to post_path(post), :method => :get, :class => "btn btn-default
            btn-noborder" do %><span class="glyphicon glyphicon-edit"></span>
            (<span><%=post.getComments().count%></span>)
        <%end%>
      </td>
    </tr>
    <% end %>
</table>

<br>
<nav>
  <ul class="pager">
    <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
    <li class="next"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
  </ul>
</nav>
