<table class="table table-hover">
    <% @posts.each do |post| %>
    <tr>
      <td rowspan="3" class="postTableLeft">
          <div class="row">
              <%= if post.post_image.exists?
                    image_tag post.post_image.url, :class=>"imgLg"
                  else
                    image_tag "default.png", :class => "imgLg"
                  end %>
          </div>
      </td>
      <td colspan="2" class="titleField">
        <h4><%= link_to post.title, post %></h4>
      </td>
      <td>
        <%=post.datetime.to_formatted_s(:short) %>
        </td>
      <td>
        <div class="deleteBtn">
        <%= link_to post,
                                :method=>:delete, :data => { :confirm => 'Are you sure?' }  do %> <span class="glyphicon
                                              glyphicon-remove"></span><%end%></div>
      </td>
    </tr>
    <tr class="postContent">
      <td colspan="4">
          <%=post.content%>
      </td>
    </tr>
    <tr>
      <td>
        <%= button_to '/votepost/up/' + post.id.to_s, 
        :method => :get, :remote=> true, :class=>"btn btn-default
        btn-noborder" do%><span class="glyphicon
        glyphicon-thumbs-up"></span> (<span id = "<%= post.id %> upvote"><%= post.upvote_number %></span>)<%end%>
      </td>
      <td>
           <%= button_to '/votepost/down/' + post.id.to_s, 
        :method => :get, :remote=> true, :class=>"btn btn-default btn-noborder" do %><span class="glyphicon glyphicon-thumbs-down"></span>
        (<span id = "<%= post.id %> downvote"><%= post.downvote_number%></span>)<%end%>
      </td>
      <td>
                <%= button_to favorite_post_path(post.id), :method => :put, :class => "btn btn-default
                    btn-noborder" do %><span class="glyphicon glyphicon-star"></span>
                    (<span><%= post.favorited_by.count %></span>)
                <%end%>
      </td>
      <td>
        <button class="btn btn-default
                       btn-noborder"><span class="glyphicon
                                                  glyphicon-edit"></span> (<%=post.getComments().count%>) </button>
      </td>
    </tr>
    <% end %>
</table>

<br>
<nav>
  <ul class="pager">
    <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
    <li class="next"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
  </ul>
</nav>
