<%= form_for @post, :html => { :multipart => true } do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, class:"form-control"%>
  </div>
  <div class="field">
    <%= f.label :datetime %><br>
    <%= f.datetime_select :datetime %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content, class:"form-control", rows: "5" %>
  </div>
  <div class="control-group">
    <%= f.label :pictures, :class => 'control-label' %>
    <div class="controls">
      <%= file_field_tag "images[]", type: :file, multiple: true %>
    </div>
  </div>
  <div class="field">
    <%= f.label :tag_list, "Tags (separated by comma)" %><br>
    <%= f.text_field :tag_list, class:"form-control" %><br>
  </div>
  <div class="actions col-xs-3">
    <%= f.submit "New Post", :class=>"btn btn-primary"%>
  </div>
  <% end %>
