<h2 class="titleFont">Readed Comments</h2>
<table class="table table-hover">
<%@all_read.each do |aun|%>
  <tr>
    <td>
    <%if aun.to_post%>
            
      
      <div class="center-block"><font size="+1">Replied to:  <%= aun.replypost.title %></font> </div>
      <div class="center-block"><font size="+1">Content: <%= aun.comment.content %></font> </div>
      <div class="center-block"><font size="-2">Created at: <%= aun.created_at %></font></div>
      <div class="center-block"> <%= link_to "view", 'posts/'+aun.reply_toid.to_s %></div>
    <%else%>
	   <div class="center-block"><font size="+1">Replied to: <%= aun.replycomment.content %></font></div> 
	   <div class="center-block"><font size="+1">Content: <%= aun.comment.content %></font></div>
     <div class="center-block"><font size="-2">Created at: <%= aun.created_at %></font></div>
	   <div class="center-block"> <%= link_to "view", 'posts/'+aun.comment.post_id.to_s %></div>
	<%end%>

    </td>
  </tr>
<%end%>
</table>
