<table class="table table-hover">
<%@all_read.each do |aun|%>
  <tr>
    <td>
    <%if aun.to_post%>
            
      
      <div class="col-xs-20"> <%= Post.find(aun.reply_toid).title %> </div>
      <div class="col-xs-20"> <%= Comment.find(aun.comment_id).content %>  <%= aun.created_at %></div>
      <div class="col-xs-20"> <%= link_to "view", 'posts/'+aun.reply_toid.to_s %></div>
    <%else%>
	    <div class="col-xs-20"> <%= Comment.find(aun.reply_toid).content %></div> 
	   <div class="col-xs-20"> <%= Comment.find(aun.comment_id).content %> <%= aun.created_at %></div>
	   <div class="col-xs-20"> <%= link_to "view", 'posts/'+Comment.find(aun.comment_id).post_id.to_s %></div>
	<%end%>

    </td>
  </tr>
<%end%>
</table>