<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Title</th>
      <th>Datetime</th>
      <th>Content</th>
      <th>Image url</th>
      <th>Post Image</th>
      <th>Downvote number</th>
      <th>Upvote number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.user_id %></td>
        <td><%= post.title %></td>
        <td><%= post.datetime %></td>
        <td><%= post.content %></td>
        <td><%= post.image_url %></td>
        <td><%= post.post_image.url(:thumb) %></td>
        <td><%= post.downvote_number %></td>
        <td><%= post.upvote_number %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
