<header class="navbar navbar-default navbar-fixed-top" role="navigation">
<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand titleFont" href="/">Hungry Foodies</a>
    </div>
    <div class="collapse navbar-collapse textFont" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Home', root_path, :class=>"textFont"%><span class="sr-only">(current)</span></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Posts <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to 'Posts Nearby', posts_path %><span
            class="sr-only">(current)</span></li>
            <li><%= link_to 'Hot Posts', '/hot'%></li>
            <li><%= link_to 'All Posts', '/showall'%></a></li>
            <li class="divider"></li>
            <li><%= link_to 'About', about_path%></li>
            <li class="divider"></li>
            <li><%= link_to 'Contact', contact_path %></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search"
      action="/search" method="get">
        <div class="form-group">
          <input type="text" id = "search" name = "search" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <p class="navbar-text pull-right">
        <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>.      
        <%= link_to '/allunreadcomments', :id=>"unread" do
        %><span class="badge"><%=@unread%></span><span
        class="sr-only">(current)</span>
        <% end %>
        <%= link_to 'profile', users_profile_path, :class => 'navbar-link' %> |
        <%= link_to "Logout", destroy_user_session_path, method:
        :delete, :class => 'navbar-link'  %>
        <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
        <% end %>
      </p>
        </div>
</div>
</header>
